body
{
   background-color: rgba(3, 37, 68, 0.205);
}

.texte_centrer {
 
   font-size: 40px;
   color: yellowgreen;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
header
{
   text-align: center;
}
nav
{ 
   border-left: steelblue;
}
footer
{
   background:white;
   position:absolute;
   bottom:0;
   width:100%;
   padding-top:100px;
   height:100px;
}
section
{
   text-align: right;
   padding-right: 300px;
    border: 1px solid rgb(28, 15, 146);
    border-width: 75px;
}
.seciong
{
   text-align: left;
   padding-left: 100px;
}